<div class="list-group">
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-builder-turretBuilder')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Turret Builder</h4>	
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-builder-highRangeTurretBuilder')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">High Range Turret Builder</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-builder-producingBuilder')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Producing Builder</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-builder-ressourceCollectorBuilder')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Ressource Collector Builder</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-builder-storageBuilder')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Storage Builder</h4>
			</div>
		</div>
	</a>
</div>