<div class="list-group">
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-infantry-soldier')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Soldier</h4>	
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-infantry-rocketeer')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Rocketeer</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-infantry-heavyAssaultWalker')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Heavy Assault Walker</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-infantry-flamethrower')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Flamethrower</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-infantry-sharpshooter')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Sharpshooter</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-infantry-warrior')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Warrior</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-infantry-spy')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Spy</h4>
			</div>
		</div>
	</a>
</div>