<div class="list-group">
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-robot-annoyBot')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Annoy Bot</h4>	
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-robot-beamer')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Beamer</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-robot-filcher')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Filcher</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-robot-rusher')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Rusher</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-robot-scrounger')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Scrounger</h4>
			</div>
		</div>
	</a>
</div>