<div class="list-group">
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-spider-attercop')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Attercop</h4>	
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-spider-buzzer')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Buzzer</h4>
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-spider-strider')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Strider</h4>
			</div>
		</div>
	</a>
</div>