<div class="list-group">
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-tank-lasertank')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Lasertank</h4>	
			</div>
		</div>
	</a>
	<a style="cursor:pointer" class="list-group-item inactive" ng:click="changeSite('wiki-units-spider-leopard5')">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="list-group-item-heading">Leopard 5</h4>
			</div>
		</div>
	</a>
</div>