<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <img src="images/logobb.png" style="margin-right:50px"/>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li style="cursor:pointer" ng:class="{active: site=='home'}" ng:click="changeSite('home')"><a>HOME</a></li>
        <li style="cursor:pointer" class="dropdown" ng:class="{active: (site.indexOf('about')>-1)}">
          <a class="dropdown-toggle" data-toggle="dropdown">ABOUT <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" style="padding-left:8px;padding-right:7px">
            <li style="cursor:pointer" ng:class="{active: site=='about-game'}" ng:click="changeSite('about-game')"><a>GAME</a></li>
            <li style="cursor:pointer" ng:class="{active: site=='about-team'}" ng:click="changeSite('about-team')"><a>TEAM</a></li>
          </ul>
        </li>
        <li style="cursor:pointer" ng:class="{active: site=='gallery'}" ng:click="changeSite('gallery')"><a>GALLERY</a></li>
        <li style="cursor:pointer" ng:class="{active: site=='download'}" ng:click="changeSite('download')"><a>DOWNLOAD</a></li>
        <li style="cursor:pointer" ng:class="{active: site=='changelog'}" ng:click="changeSite('changelog')"><a>CHANGELOG</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style="cursor:pointer" class="dropdown" ng:class="{active: site.indexOf('wiki')>-1}">
          <a class="dropdown-toggle" data-toggle="dropdown" style="padding-left:29px;padding-right:30px" ng:click="changeSite('wiki')">WIKI <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li style="cursor:pointer" ng:class="{active: site=='wiki-units'}" ng:click="changeSite('wiki-units')"><a>UNITS</a></li>
            <li style="cursor:pointer" ng:class="{active: site=='wiki-map-tiles'}" ng:click="changeSite('wiki-map-tiles')"><a>MAP TILES</a></li>
          </ul>
        </li>
        <li style="cursor:pointer" ng:class="{active: site=='forum'}" ng:click="changeSite('forum')"><a>FORUM</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
