<div class="row">
    <div class="col-xs-12">
        These are our teammembers:
        <h3 id="h3">Blackhole16</h3>
            Position: Programmer</br>
            Blackhole16 is one of the two project founders. He set up the project on July the 22th. He has programming skills in JAVA and some PHP, too.</br>
            Blackhole is one of two programmer, mostly working on the game logic.</br>

        <h3 id="h3">Bobthepeanut (Bobtp)</h3>
            Position: Programmer</br>
            Bobthepeanut is the second project founder. As well as Blackhole16 he knows of JAVA, so this is why our project is in language JAVA.</br>
            Bobthepeanut is the second programmer, working on the graphic programming.</br>

        <h3 id="h3">xsenkrechtx</h3>
            Poistion: Webdesigner</br>
            xSenkrechtx is currently working on the wiki for the project.</br>
        
        <h3 id="h3">aWome</h3>
            Position: Designer, Webdesigner (at least sometimes)</br>
            aWome came to our team about 1 months after we started the project. He is bringing new ideas to the game and is designing the units as well as map tiles. He works together with HigHteK'.

        <h3 id="h3">HigHteK'</h3>
            Position: Webdesigner, <i>Master of Unitstatics :P</i></br>
            HigHteK' is bringing new ideas for units and roughly painting them, too. Also he creates the units statistics and he will do the balancing in future updates together with the 2 programmers.</br> 
            Also HigHteK' is the website and wiki designer. 

        <h3 id="h3">Gumbarius</h3>
            Position: Designer</br>
            Gumbarius is as well as aWome and HigHteK' designing. He is most specific on new map tiles, so he works close together with our map designer, who often needs new tiles for creating different maps.

        <h3 id="h3">Banosto</h3>
            Position: Map creator</br>
            Banosto is our map creator / designer. He makes up new ideas for new maps, which will be implemented in future updates.

        <h3 id="h3">Ms. X and Ms. Y</h3>
            Position: Designer</br>
            Until now they haven't actually done anything but they're supposed to design new units in the future too.
    </div>
</div>        
