<div class="row">
	<div class="col-xs-12">
	    <h3 id="h3">0.0.1-NIGHTLY <span style="font-size: smaller;">(09/16/2013)</span></h3>
	    <ul><li>Changed back to Java 1.6 from Java 1.7</li>
	    <li>Mapchooser is now displayed in rows and columns so you can see the names of the maps better</li>
	    <li>Fixed a bug where the game suddenly crashed and closed</li>
	    <li>Speeded up the mouse-scrolling zoom speed</li></ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	    <h3 id="h3">0.0.0-NIGHTLY<span style="font-size: smaller;">(09/14/2013)</span></h3>
		<ul><li>This is the first release of the NIGHTLY alpha-testversion.</li></ul>
    </div>
</div>
